/* styles.css */
body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  min-height: 100vh;
}

.imageBackground1 {
  left: -315px;
  top: -275px;
  position: absolute;
  z-index: -1;
}

.imageBackground2 {
  top: 450px;
  right: -340px;
  position: absolute;
  z-index: -1;
}

.imageBackground3 {
  bottom: -300px;
  left: -450px;
  position: absolute;
  z-index: -1;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 10;
  display: none;
}

.overlay.active {
  display: block;
}

.homepage {
  width: 330px;
  margin-top: 50px;
}

.navbar {
  padding: 0;
  margin: 0;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 15;
}

.navbarContainer {
  height: 100%;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
  position: absolute;
  z-index: 16;
}

.navbarLogo {
  width: 177px;
  height: 100%;
  cursor: pointer;
}

.navbarAvatar {
  width: 35px;
  height: 35px;
  background: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #151515;
  margin-right: 20px;
  cursor: pointer;
  object-fit: cover;
}

.navbarAvatar:hover {
  opacity: 70%;
}

.modalPopUp {
  position: absolute;
  top: 50px;
  right: 0;
  width: 213px;
  height: 100px;
  background: #fff;
  z-index: 14;
  border-radius: 0 0 0 10px;
  display: none;
  flex-direction: column;
}

.modalPopUp.active {
  display: flex;
}

.modalPopUpMenu {
  width: calc(100%-30px);
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 10px 15px 10px 15px;
  background: #ddd;
  cursor: pointer;
}

.modalPopUpMenu:hover {
  opacity: 70%;
}

.LastPopUp {
  background: transparent;
}

.modalPopUpAvatar {
  width: 28px;
  height: 28px;
  background: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #151515;
  cursor: pointer;
  object-fit: cover;
}

.modalPopUpName {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
}

.welcomeText {
  color: #151515;
  font-family: Lato;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 20px 0 20px 0;
}

.activitiesContainer {
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ed1c24;
  margin-top: 25px;
  padding: 15px 15px 20px 15px;
  border-radius: 15px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.5);
}

.menuTitle {
  margin-bottom: 15px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-radius: 12px;
  margin: 0 auto;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.5);
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
}

.carouselImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.activities {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuContainer {
  width: 150px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 10px;
}

.menuImage {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: pointer;
}

.menuImage:hover {
  opacity: 80%;
}

.overlayMenuContainer {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 25%);
}

.menuName {
  padding: 10px 0 0px 0;
  color: #fff;
  font-family: Lato;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.underline {
  display: inline-block;
  position: relative;
  padding-bottom: 5px; /* Adjust this value to control the distance between text and underline */
  border-bottom: 2px solid #fff; /* Adjust the thickness and color of the underline */
  text-align: center; /* Center the text horizontally */
}

.underline_black {
  display: inline-block;
  position: relative;
  padding-bottom: 5px; /* Adjust this value to control the distance between text and underline */
  border-bottom: 2px solid #151515; /* Adjust the thickness and color of the underline */
  text-align: center; /* Center the text horizontally */
}

.subMenuActivities {
  margin-bottom: 100px;
}

.subMenuField {
  display: none;
  flex-direction: row;
  padding-top: 20px;
  justify-content: space-between;
}

.subMenuField.active {
  display: flex;
}

.subMenuMarket {
  display: none;
  flex-direction: row;
  padding-top: 15px;
  justify-content: space-between;
}

.subMenuMarket.active {
  display: flex;
}

.subMenuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.subMenuContainer:hover {
  opacity: 70%;
}

.subMenuImageContainer {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.subMenuImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.subMenuName {
  margin-top: 10px;
  color: #dcdcdc;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  max-width: 65px;
}

.dashboardTitle {
  color: #151515;
  margin-top: 40px;
  margin-bottom: -10px;
}

.dashboard {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 20px;
}

.dashboardName {
  max-width: 90px;
  color: #151515;
  text-align: center;
  font-weight: 80px;
  font-size: 14px;
  cursor: pointer;
}

.dashboardContent {
  margin-top: 15px;
  width: 300px;
  min-height: 170px;
  border-radius: 12px;
  background: #ed1c24;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.chartContainer {
  height: auto;
  width: 100%;
  display: none;
}

.chartContainer.active {
  display: block;
}

@media screen and (min-width: 550px) {
  .navbar {
    height: 60px;
  }

  .navbarLogo {
    height: 60px;
  }

  .navbarAvatar {
    width: 40px;
    height: 40px;
    margin-right: 40px;
  }

  .modalPopUp {
    top: 60px;
    width: 300px;
    height: 124px;
  }

  .modalPopUpMenu {
    width: calc(100%-40px);
    gap: 25px;
    padding: 10px 30px 10px 30px;
  }

  .modalPopUpAvatar {
    width: 40px;
    height: 40px;
  }

  .modalPopUpName {
    font-size: 18px;
  }

  .homepage {
    margin-top: 75px;
    width: calc(100% - 150px);
  }

  .welcomeText {
    font-size: 30px;
  }

  .carousel-container {
    height: 250px;
  }

  .carouselImg {
    height: 250px;
  }

  .activitiesContainer {
    width: calc(100% - 60px);
    background: #ed1c24;
    margin-top: 30px;
    padding: 30px 30px 40px 30px;
    border-radius: 15px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.5);
  }

  .menuImage {
    width: 280px;
    height: 175px;
  }

  .subMenuName {
    max-width: 100%;
  }

  .menuTitle {
    font-size: 22px;
  }

  .dashboardTitle {
    margin-top: 55px;
  }

  .dashboardName {
    max-width: 100%;
    color: #151515;
    text-align: center;
    font-weight: 80px;
    font-size: 16px;
    cursor: pointer;
  }

  .dashboardContent {
    margin-top: 20px;
    width: calc(100% - 40px);
    min-height: 190px;
    border-radius: 15px;
    padding: 20px;
  }

  .chartContainer {
    height: 100%;
  }
}
